<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form *ngIf="registerMultiTableForm" [formGroup]="registerMultiTableForm" autocomplete="offs" class="form-register-section">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="tableId">Tabla</label>
          <select class="form-control form-control-lg" id="tableId"
                  formControlName="tableId" [ngClass]="{ 'is-invalid': submitted && f.tableId.errors }" required>
            <option *ngFor="let the of multitable" [value]="the.itemId">
              <p>{{the.description}}</p>
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="description">Descripción</label>
          <input type="text" class="form-control form-control-lg" id="description" maxlength="30" [(ngModel)]="des"
                 formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" required/>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn button-cancel ml-auto" (click)="bsModalRef.hide()">CANCELAR</button>
  <button type="button" class="btn button-add mr-auto" (click)="register()">GUARDAR</button>
</div>
