
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html,
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif !important;
  background: white;
  height:100%;
  font-size: 14px;
}

.wrapper {
    display: flex;
    align-items: stretch;
  }
  
  #content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    background-color: #EFEFEF;
  }
  
  .margin-left-80{
    margin-left: 80px;
  }
  
  .margin-left-250{
    margin-left: 250px;
  }
  .section-route{
    color: #70777E;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .span-route{
    font-weight: bold;
  }
  
  .color-span{
    color: #FC6320;
    font-size: 16px;
    font-weight: bold;
  }

  
.pac-container {
    background-color: #FFF;
    z-index: 1050;
    position: fixed;
    display: inline-block;
  }
  
  .container-table{
    background-color: #fff;
  }
  
  .container-title{
    font-size: 18px;
    color: #fff;
  }
  
  .title-section{
    font-weight: bold;
    border-radius: 30px 0px 0px 30px;
    background-color: #1A63AF;
    border: 2px solid #fff;
  }
  
  .title-section-full{
    font-weight: bold;
    border-radius: 30px;
    background-color: #1A63AF;
    border: 2px solid #fff;
  }
  
  .add-section{
    cursor: pointer;
    border-radius: 0 30px 30px 0;
    background-color: #2EA2F1;
    color: #FFF;
    border: 2px solid #fff;
  }
  
  .text-title{
    padding: 10px 10px 10px 30px;
  }
  
  .text-add{
    padding: 10px;
  }
  
  .line-title{
    border: 1px solid #1A63AF;
  }
  
  .select-select {
    border-radius: 10px;
  }

  thead{
    color: white;
}

tbody{
    background-color: white;
}

.btn-company-edit, .btn-company-delete{
    margin: 1px 5px;
}

.company-actions{
    margin: 10px 0;
}

.input-search-cinema, .label-search-cinema{
    padding-left: 30px;
    padding-right: 30px;
}



.table-border{
    border-radius: 10px 10px 0 0;
    
  }
  
  .table-shadow{
    -webkit-box-shadow: 10px 5px 5px 0px rgba(189,189,189,0.5);
    -moz-box-shadow: 10px 5px 5px 0px rgba(189,189,189,0.5);
    box-shadow: 10px 5px 5px 0px rgba(189,189,189,0.5);
  }
  
  .t-head-style{
    background-color: #FC6320 !important;
    color: white;
    font-size: 16px;
  }
  
  .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #F4F9F9;
    color: #858B90;
  }
  
  td{
    font-size: 14px;
  }
  
  .table-actions{
    margin: 20px 0;
  }
  
  .right-0{
    right: 0;
  }
  
  .bottom-0{
    bottom: 0;
  }
  .ngx-pagination{
    padding-left: 0px !important;
  }
  
  .my-pagination /deep/ .ngx-pagination .current {
    background: #1A63AF;
  }
  
  
@media (max-width: 768px) {
  .margin-left-250{
    margin-left: 0px;
  }
  .button-add {
    padding: 5px 30px !important;
  }
}

@media (max-width: 768px) {
  .button-add {
    padding: 5px 15px !important;
  }
}

@media (min-width: 1200px) { 
  .img-logo-loading{
    width: 80px ;
    padding-bottom: 250px
  }
}

.previews-container{
  display: none !important;
}


.popover {
  z-index: 1000;
  font-size:12px !important;
  left: -8px;
  background-color: #dc3545;
  color: white !important;
  border: none;
}

.popover-content{
  color: white;
}
.popover>.arrow:after{
  border-top-color: #dc3545;
}

.button-search{
  padding: 5px 30px !important;
  border: 1px solid #1A63AF!important;
  background-color: #1A63AF !important;
  color: #fff !important;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  border-radius: 10px !important;
}

.button-search:hover{
  background-color: #6A5AE0 !important;
  border: 1px solid #6A5AE0 !important;
  color: #fff;
  transform: translateY(-4px);
}