<div class="container" style="margin-top: 100px;">
    <div class="row">
      <div class="col-sm-10">
            <img class="imgp" src="./../../../assets/img/banner.png"/>
      </div>
      <div class="col-sm-2" style="padding-left: 30px;">
        <div class="imgright" style="border-radius: 20px;box-shadow: 5px 5px 10px 0px #888888;
            border: 2px solid #BFBFBF;">
            <div class="row">
                <div class="col-sm-4" style="background-color: #FF6510;border: 2px solid;border-color: transparent;
                    margin-left: 15px;border-top-left-radius: 20px;">
                    <img style="margin-top: 20px;margin-left: 20px;" src="./../../assets/img/n0.png" height="30px">
                    <hr style="border-color: transparent;margin-top: 6px;">
                </div>
                <div class="col-sm-7" style="background-color: #005699;border: 2px solid;border-color: transparent;
                    border-top-right-radius: 20px;">
                    <h3 style="color: white;margin-top: 20px;">Directorio</h3>
                    <hr style="border-color: transparent;margin-top: 0px;">
                </div>
                <div class="col-sm-1"></div>
            </div>
            <hr style="margin-top: 0px;">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <img style="margin-top: -5px;" src="./../../assets/img/n3.png">
                </div>
                <div class="col-sm-6">
                    <h3 style="margin-top: -5px;font-size: 20px;font-family: Arial;">Numeros</h3>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <hr style="margin-top: 0px;">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <img style="margin-top: -5px;" src="./../../assets/img/n1.png">
                </div>
                <div class="col-sm-6">
                    <h3 style="margin-top: 0px;font-size: 20px;font-family: Arial;">¿Quiénes Somos?</h3>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <hr style="margin-top: 0px;">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <img style="margin-top: 0px;" src="./../../assets/img/n4.png">
                </div>
                <div class="col-sm-6">
                    <h3 style="margin-top: 0px;font-size: 20px;font-family: Arial;">SIG Normas y Procedimientos</h3>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <hr style="margin-top: 0px;">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <img style="margin-top: -8px;margin-left: 2px;" src="./../../assets/img/n5.png">
                </div>
                <div class="col-sm-6">
                    <h3 style="margin-top: 0px;font-size: 20px;font-family: Arial;">Beneficios</h3>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <hr style="margin-top: 0px;">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <img style="margin-top: 0px;margin-left: 3px;" src="./../../assets/img/n2.png">
                </div>
                <div class="col-sm-6">
                    <h3 style="margin-top: 0px;font-size: 20px;font-family: Arial;">Convenios Educativos</h3>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
      </div>
    </div>
    
    <div class="row">
        <div class="col-sm-2" style="margin-left: -20px;">
            <div class="imgpsSomosS2" >
                <div class="div1">
                    <div class="div11">
                        <img src="./../../assets/img/front1.png" style="margin-top: 50px;margin-left: 20px;">
                        <div style="position: absolute;
                        text-align: left;
                        color: white;
                        margin-left: 30px;
                        width: auto;
                        font-size: 10px;
                        height: auto;">
                         Oportunidad de
                        </div>
                        <div style="position: absolute;
                        text-align: left;
                        color: white;
                        margin-left: 30px;
                        margin-top: 20px;
                        width: auto;
                        font-size: 10px;
                        height: auto;">
                         desarrollo
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 ">
            <div class="imgpsSomosS2" >
                <div class="div2">
                    <div class="div22">
                        <img src="./../../assets/img/front2.png" style="margin-top: 50px;margin-left: 20px;">
                        <div style="position: absolute;
                        text-align: left;
                        color: white;
                        margin-left: 30px;
                        width: 200px;
                        font-size: 20px;
                        height: 100px;">
                         En Directo  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 ">
            <div class="imgpsSomosS2" >
                <div class="div3">
                    <div class="div33">
                        <img src="./../../assets/img/front3.png" style="margin-top: 50px;margin-left: 20px;">
                        <div style="position: absolute;
                        text-align: left;
                        color: white;
                        margin-left: 10px;
                        width: 200px;
                        font-size: 20px;
                        height: 100px;">
                         Biométricos  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 ">
            <div class="imgpsSomosS2" >
                <div class="div4">
                    <div class="div44">
                        <img src="./../../assets/img/front1.png" style="margin-top: 40px;margin-left: 20px;">
                        <div style="position: absolute;
                        text-align: left;
                        color: white;
                        margin-left: 10px;
                        width: 180px;
                        font-size: 16px;
                        height: 100px;">
                         Programación
                        </div>
                        <div style="position: absolute;
                        text-align: left;
                        color: white;
                        margin-left: 10px;
                        margin-top: 20px;
                        width: 180px;
                        font-size: 16px;
                        height: 100px;">
                        SUM
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 ">
            <div class="imgpsSomosS2" >
                <div class="div5">
                    <div class="div55">
                        <img src="./../../assets/img/front5.png" style="margin-top: 60px;margin-left: 20px;">
                        <div style="position: absolute;
                        text-align: left;
                        color: white;
                        margin-left: 15px;
                        width: auto;
                        font-size: 15px;
                        height: 100px;">
                         Seguridad y Salud laboral  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2" style="margin-top: -100px;">
            <div class="imgpsSomosS22" style="border-radius: 20px;box-shadow: 5px 5px 10px 0px #888888;;border: 2px solid #BFBFBF;">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3"> <img style="margin-top: 5px;" src="./../../assets/img/cumple.png"></div>
                    <div class="col-sm-6">
                        <h3 style="color: #FF6510;margin-top: 5px">Hoy de Cumpleaños</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"> <img style="margin-top: 5px;margin-left: 15px;" src="./../../assets/img/c1.png"></div>
                    <div class="col-sm-6">
                        <p style="color: #FF6510;margin-top: 10px;
                        margin-left: 35px;">Catarina Macht</p>
                        <p style="color: #007AD2;margin-top: 0px;font-weight: lighter;margin-left: 35px;">24 años</p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"> <img style="margin-top: 5px;margin-left: 15px;" src="./../../assets/img/c2.png"></div>
                    <div class="col-sm-6">
                        <p style="color: #FF6510;margin-top: 10px; margin-left: 35px;">Elmer Pèrez</p>
                        <p style="color: #007AD2;margin-top: 0px;font-weight: lighter;margin-left: 35px;">26 años</p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"> <img style="margin-top: 5px;margin-left: 15px;" src="./../../assets/img/c3.png"></div>
                    <div class="col-sm-6">
                        <p style="color: #FF6510;margin-top: 10px; margin-left: 35px;">Dora Palao</p>
                        <p style="color: #007AD2;margin-top: 0px;font-weight: lighter;margin-left: 35px;">30 años</p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </div>
    
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="imgpsSomos">
                <h1 class="labelsomos">¿Quiénes somos?</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="imgpsSomosC" >
                <p class="labelcontenido">Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione. È sopravvissuto non solo a più di cinque secoli, ma anche al passaggio alla videoimpaginazione, pervenendoci sostanzialmente inalterato. Fu reso popolare, negli anni ’60, con la diffusione dei fogli di caratteri trasferibili “Letraset”, che contenevano passaggi del Lorem Ipsum, e più recentemente da software di impaginazione come Aldus PageMaker, che includeva versioni del Lorem Ipsum.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="imgpsSomosS21" >
                <div style="position: absolute;
                margin-left: 120px;
                margin-top: 200px;
                text-align: left;
                color: white;
                font-size: 20px;
                width: auto;
                height: 100px;">
                    Galería
                </div>
                <div style="position: absolute;
                margin-left: 120px;
                margin-top: 220px;
                text-align: left;
                color: white;
                font-size: 20px;
                width: auto;
                height: 100px;">
                    de Imágenes
                </div>
                <img src="./../../assets/img/galeria.png" height="318px" width="260px" >
            </div>
        </div>
        <div class="col-sm-2">
            <div class="imgpsSomosS21" >
                <img src="./../../assets/img/sub1.png" height="155px" width="205px" style="margin-left: -20px;">
                <div  style="margin-top: 6px;"></div>
                <img src="./../../assets/img/sub2.png" height="155px" width="205px" style="margin-left: -20px;">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="imgpsSomosS21" >
                <img src="./../../assets/img/user.png" height="316px" width="260px">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="imgpsSomosS21" >
                <img src="./../../assets/img/sub3.png" height="155px" width="280px" style="margin-left: -20px;">
                <div  style="margin-top: 6px;"></div>
                <img src="./../../assets/img/sub4.png" height="155px" width="280px" style="margin-left: -20px;">
            </div>
           
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-12" style="
                border-radius: 20px;
                box-shadow: 5px 5px 10px 0px #888888;
                border: 2px solid #BFBFBF;
                margin: 60px;">
                <div class="col-sm-4" style="margin-top: -100px;">
                    <div class="imgpF" style="margin-left: -30px;">
                            <img src="./../../assets/img/iconleft.png" width="50px" height="70px">
                            <div style="color: #005699;margin-top: 10px;margin-left: 80px;position: absolute;">
                                <h1>Sucursales</h1>
                            </div>
                            <div class="div8" style="margin-top: 130px;">
                                <h3 style="color: #FC6320;">Campus La Molina</h3>
                                <h5>Avenida La Molina 190,</h5>
                                <h5>Ate, Lima, Perú</h5>
                                <h3 style="color: #FC6320;">Campus Callao</h3>
                                <h5>Aenida Maquinarias 6015,</h5>
                                <h5>Carmen de la Legua, Callao Perú</h5>
                                <h3 style="color: #FC6320;">Centro Trujillo</h3>
                                <h5>Jirón Grau 400 Centro Comercial</h5>
                                <h5>Boulevard 3er piso, Trujillo  Perú</h5>
                            </div>
                    </div>
                </div>
                <div class="col-sm-8" style="margin-top: -100px;margin-left: 0px;">
                    <img class="imgpF" src="./../../assets/img/mapa.png" style="margin-left: 30px;">
                </div>
        </div>
    </div>
</div>