/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
/* Custom Input */
.input-portal-pago {
    border: 1px solid #D1C3A0 !important;
    border-radius: 10px !important;
  }
  
  .input-portal-pago-search{
    border-radius: 10px 0px 0px 10px!important;
  }
  
  .btn-portal-pago-cancel-search{
    border: 1px solid #D1C3A0 !important;
    background-color: #1A63AF !important;
    color: white;
    border-radius: 0px 10px 10px 0px!important;
  }
  
  .btn-portal-pago-cancel-search:hover{
    background-color: #0f5474 !important;
  }
  
  /*Input radius*/
  input[type=text] {
    border-radius: 10px;
  }
  input[type=number] {
    border-radius: 10px;
  }
  input[type=datetime-local] {
    border-radius: 10px;
  }
  
  select:focus,
  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus,
  .uneditable-input:focus {   
    border-color: #1A63AF !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(26, 99, 175, 0.6) !important;
    outline: 0 none !important;
  }
  
  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
  }
  
  textarea{
    font-size: 14px !important;
  }
  
  fieldset{
    border: none !important;
    padding: 0 !important;
  }
  
  .ngb-tp-input {
    font-size: 14px;
  }
  
  /* Buttons */
  .button-cancel {
    padding: 5px 30px !important;
    border: 1px solid white !important;
    background-color: white !important;
    color: #1A63AF !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
  }
  
    .button-cancel:hover {
      background-color: white !important;
      border: 1px solid white !important;
      color: #5a62e0;
      transform: translateY(-4px);
      border-radius: 10px;
    }
  
  .button-add-data {
    padding: 5px 30px !important;
    border: 1px solid #1A63AF!important;
    background-color: #1A63AF !important;
    color: white !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
  }
  
  .button-add-data:hover {
    background-color: #5a62e0 !important;
    border: 1px solid #5a62e0 !important;
    color: white;
    transform: translateY(-4px);
    border-radius: 10px;
  }
  
  .button-add {
    padding: 5px 30px !important;
    border: 1px solid #ff8e3d !important;
    background-color: #ff8e3d !important;
    color: #fff !important;
    font-size: 14px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    border-radius: 10px;
  }
  
  .button-add:hover {
    background-color: #ff7628 !important;
    border: 1px solid #ff7628 !important;
    color: #fff;
    transform: translateY(-4px);
    border-radius: 10px;
  }
  
  .button-search{
    padding: 5px 30px !important;
    border: 1px solid #1A63AF!important;
    background-color: #1A63AF !important;
    color: #fff !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    border-radius: 10px !important;
  }
  
  .button-search:hover{
    background-color: #6A5AE0 !important;
    border: 1px solid #6A5AE0 !important;
    color: #fff;
    transform: translateY(-4px);
  }
  
  .button-cancel-search{
    border: 1px solid #1A63AF !important;
    margin: 0px 3px;
    background-color: #1A63AF !important;
    color: #fff !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    border-radius: 10px !important;
  }
  
  .button-cancel-search:hover{
    background-color: #6A5AE0 !important;
    border: 1px solid #6A5AE0 !important;
    color: #fff;
    transform: translateY(-4px);
  }
  
  .button-modal-cancel{
    padding: 5px 30px !important;
    border: 1px solid #fff !important;
    background-color: #fff !important;
    color: #1A63AF !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    border-radius: 10px;
  }
  
  .button-modal-cancel:hover{
    background-color: #E4E4E5 !important;
    border: 1px solid #E4E4E5 !important;
    color: #fff;
    transform: translateY(-4px);
  }
  
  .button-active{
    background-color: #62C1FE !important;
    color: #3E657F !important; 
  }
  
  .button-status{
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    color: #ABBBBE;
    background-color: #D3E5E7;
  }
  
  .icon-button-table{
    width: 25px;
    height: 25px;
  }
  
  .icon-button-table-sm{
    width: 20px;
    height: 20px;
  }
  
/* MODAL */

.modal-header{
  background-color: rgb(26, 99, 175) !important;
  color: #fff !important;
  border-radius: 0 !important;
}

.modal-header > .close{
  color: #fff;
  font-size: 18px;
}
.modal-content{
  border-radius: 0 !important;
  border: none !important;
  margin: 100px;
}

.modal-footer {
  border-top: none !important;
  /* display: inline-block; */
}

.nav-tabs > .nav-item > .nav-link{
  background-color: #e7dec1;
  border: 1px solid #e7dec1;
  border-radius: 32px 32px 0px 0px;
  color: #af9e80;
  font-size: 14px;
  padding-left: 40px;
  padding-right: 40px;
}

.nav-tabs .nav-link:hover{
  background-color: gray;
  color: #fff;
}
  
.nav-tabs > .nav-item > .nav-link.active{
  border: 2px solid #115e83;
  background-color: #115e83 !important;
  border-radius: 32px 32px 0px 0px;
  color: #fff !important;
  font-size: 14px;
  padding-left: 40px;
  padding-right: 40px;
}

.nav-tabs .nav-link.active:hover{
  background-color: gray;
}

.tab-pane{
  padding-top: 30px;
}

.div-separate{
  border: 2px dashed #5A62E0;
  border-radius: 5px; 
  padding: 2px;
}

.div-separate-check {
  border: 2px dashed transparent;
  border-radius: 5px;
  margin-left: 80px;
}

.swal2-content {
  font-size: 14px !important;
}

/* End Modal */

/* Image preview */
.previews-container{
  display: none !important;
}


.popover {
  z-index: 1000;
  font-size:12px !important;
  left: -8px;
  background-color: #dc3545;
  color: white !important;
  border: none;
}

.popover-content{
  color: white;
}
.popover>.arrow:after{
  border-top-color: #dc3545;
}


.required {
  display: block;
  padding: 3px;
  font-size: 11px;
  color: #eb0243;
}

.required-field {
  color: #eb0243;
  font-size: 11px;
}

.scroll {
  height: auto;
  width: 40px;
  overflow-x: visible;
}

.label-activo {
  background-color: #7965E8;
  color: white;
  padding: 9px;
}

.label-inactivo {
  background-color: #7BBEF3;
  color: white;
  padding: 8px;
} 

.form-control.is-invalid{
  border-color: #dc3545 !important;
}